<div class="modal-header">
    <h4>{{ MIC.label | firstUpper }} <small>for {{ MIC.title }}</small></h4>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-controller="CkeditorCtrl">
            <!-- NOTE MIC comes from controller as on instance open -->
            <div ckeditor="options" ng-model="MIC.content" ready="onReady()">fred</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>