<div class="row" ng-controller="LandingCtrl as landing">
    <div class="col-xs-12">
        <h1>Welcome to Manatee</h1>
        <h3>offline mode</h3>
    </div>
    <div class="col-xs-6">
        Proc test status
        <ul>
            <li>TotalRecords:  {{ landing.statObj.totalRecords }}</li>
            <li>Failing Procs? {{ landing.statObj.failingProcs }}</li>
            <li>Passing Procs? {{ landing.statObj.passingProcs }}</li>
            <li>Untested Procs? {{ landing.statObj.untestedProcs }}</li>
        </ul>
    </div>
    <div class="col-xs-6">
        Workflow
        <ul>
            <li>Not Started {{ landing.statObj.failingProcs }}</li>
            <li>In Progress:  {{ landing.statObj.totalRecords }}</li>
            <li>Completed {{ landing.statObj.passingProcs }}</li>
            <li>Reviewed {{ landing.statObj.untestedProcs }}</li>
        </ul>
    </div>
</div>