<div ng-controller="ObjectListCtrl as olist">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <div class="btn-group btn-group-justified topgroup" role="group">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-primary" ng-click="">Save</button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-primary" ng-click="olist.addProc('NEW')"><span class="glyphicon glyphicon-plus"></span> Procedure</button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default" ng-click="olist.addIssue('NEW')"><span class="glyphicon glyphicon-plus"></span> Issue</button>
                </div>
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-default" ng-click=""><span class="glyphicon glyphicon-plus"></span> Workpaper</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="EditorModalCtrl as EMC">
        <div class="col-xs-12">
            <div class="list-group" >
                <div ng-click="olist.setSelected(dataobj)" ng-class="{selected: dataobj._id === olist.selectedObj._id}" 
                     class="list-group-item" ng-repeat="dataobj in olist.objects track by $index">
                    <form class="list-group-item-text">
                        <div class="row">
                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h4 class="list-group-item-heading objectTitle">{{ dataobj.fields.title.value }}</h4>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <detail-element ng-repeat="(fldname, field) in dataobj.fields" 
                                                        ofield="field" 
                                                        fieldname="{{fldname}}" 
                                                        dataobject="dataobj" 
                                                        testresultfunc="olist.resolveTest" 
                                                        editorfunc="EMC.open",
                                                        savefunc="olist.saveObject"></detail-element>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <ul class="nav nav-pills nav-stacked">
                                    <li ng-if="dataobj.IssuesCount>0" role="presentation" class=""><a ng-click="olist.showIssues(dataobj)">Issues:<span class="pull-right badge alert-danger" >{{dataobj.IssuesCount}}</span></a></li>
                                    <li ng-if="dataobj.WorkpapersCount>0" role="presentation" class="" ><a ng-click="olist.showWorkpapers(dataobj)">Workpapers:<span class="pull-right badge alert-primary">{{dataobj.WorkpapersCount}}</span></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
