<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div ng-controller="EditorModalCtrl as EMC">
            <a ng-click="EMC.open()">Open Modal</a>
            <div>Text from ckeditor: {{ EMC.text }}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div flow-init="{target: '/upload'}"
             flow-files-submitted="$flow.upload()"
             flow-file-success="$file.msg = $message">

            <input type="file" flow-btn />
            Input OR Other element as upload button
            <span class="btn" flow-btn>Upload File</span>

            <table>
                <tr ng-repeat="file in $flow.files">
                    <td>{{$index+1}}</td>
                    <td>{{file.name}}</td>
                    <td>{{file.msg}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="row">

    <div flow-init="{singleFile:true}" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" class="ng-scope">
        <h3>
            <a name="image-example" class="anchor" href="#image-example"><span class="octicon octicon-link"></span></a>Single Image upload
        </h3>
        <div class="thumbnail" ng-show="!$flow.files.length">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image">
        </div>
        <div class="thumbnail ng-hide" ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]">
        </div>
        <div>
            <span class="btn btn-primary" ng-show="!$flow.files.length" flow-btn="">Select image<input type="file" style="visibility: hidden; position: absolute;"></span>
            <span class="btn btn-info ng-hide" ng-show="$flow.files.length" flow-btn="">Change<input type="file" style="visibility: hidden; position: absolute;"></span>
            <span class="btn btn-danger ng-hide" ng-show="$flow.files.length" ng-click="$flow.cancel()">
                Remove
            </span>
        </div>
        <p>
            Only PNG,GIF,JPG,JEPG files allowed.
        </p>
    </div>
</div>

<div class="row" flow-init="{singleFile:true}" >
    <div class="thumbnail ng-hide" ng-show="$flow.files.length">
        <img flow-img="$flow.files[0]">
    </div>
    <div class="col-xs-2">
            <div class="btn-group btn-group-justified topgroup" role="group">
                <div class="btn-group btn-group-sm" role="group" >
                    <span class="btn btn-default" flow-btn=""><span class="glyphicon glyphicon-plus"></span> Workpaper<input type="file" style="visibility: hidden; position: absolute;"></span>
                </div>
            </div>

    </div>
</div>
