body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* This is for angular-ui 
    https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* various cleanups*/
.objectTitle {
    margin-left:-6px !important;
}

/* end alert css */
.alerts {
 position:fixed;
 width:300px;
 right:30px;
 top:12px;
 z-index:10000; 
}
  
.alerts>.alert-dismissable {
 position:relative;
 z-index:11;
 min-width:250px;
}
.alert {
    padding: 2px !important;
}
/* end alert css */
/*Playing with full screen modal
    .modal-dialog {
  width: 98%;
  height: 92%;
  padding: 0;
}

.modal-content {
  height: 99%;
}
*/
/*end modal*/