body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* This is for angular-ui 
    https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* various cleanups*/
.objectTitle {
    margin-left:-6px !important;
}

/* end alert css */
.alerts {
 position:fixed;
 width:300px;
 /*right:230px;*/
 left:400px;
 top:10px;
 z-index:10000; 
}
  
.alerts>.alert-dismissable {
 position:relative;
 z-index:11;
 min-width:250px;
}
.alert {
    padding: 2px !important;
}
/* end alert css */

/*Playing with full screen modal*/
.modal-dialog {
  width: 98%;
  height: 735px;
  padding: 0;
}

.modal-header {
    padding: 5px !important;
}
.modal-content {
  height: 99%;
}
.modal-content .cke_chrome {
  height: 89%;
}

/* tidy up navigation*/
div.list-group-item {
    cursor: pointer;
}

div.list-group-item {
    cursor: pointer;
}
/*end modal*/

/* tidy up navigation*/
a[ng-click]{
    cursor: pointer;
}

/* list stuff */
div.list-group-item {
    cursor: pointer;
}

div.list-group-item.selected {
    background-color: rgb(231,231,231);
}

div.list-group-item:hover {
    background-color: rgb(231,231,231);
}
/* end list stuff */