body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* This is for angular-ui 
    https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
/* various cleanups*/
.objectTitle {
    margin-left:-6px !important;
    border: none !important;
    margin-bottom: 10px;
}

/* end alert css */
.alerts {
 position:fixed;
 width:300px;
 /*right:230px;*/
 left:400px;
 top:10px;
 z-index:10000; 
}
  
.alerts>.alert-dismissable {
 position:relative;
 z-index:11;
 min-width:250px;
}

.alert {
    padding: 2px !important;
}

.topAlert {
    position: absolute;
    width: 355px;
    top: 8px;
    z-index: 10000;
    color: antiquewhite;
    background-color:#333333;
    left: 464px;
}
/* end alert css */

/*Playing with full screen modal*/
.modal-dialog {
  width: 98%;
  height: 690px;
  padding: 0;
}

.modal-header {
    padding: 4px !important;
}

.modal-content {
  height: 99%;
  margin-top:-18px;
}

.modal-content .cke_chrome {
  height: 89%;
}

/* tidy up navigation*/
div.list-group-item {
    cursor: pointer;
}

div.list-group-item {
    cursor: pointer;
}
/*end modal*/

/* tidy up navigation*/
a[ng-click]{
    cursor: pointer;
}

/* list stuff */
div.list-group-item {
    cursor: pointer;
}

/*div.list-group-item.selected {
    background-color: rgb(231,231,231);
}

div.list-group-item:hover {
    background-color: rgb(231,231,231);
}*/

div.list-group-item.selected {
    background-color: #FFFFCC;
}

div.list-group-item:hover {
    background-color: #FFFFCC;
}

/*don't like the full row hover, maybe play with a different effect
    div.list-group-item:hover .objectTitle {
    background-color: #FFFFCC;
    border-color: #000000;
    border-width:1px;
}*/

/* end list stuff */

/*glyphicons in buttons   
*/
.topgroup .glyphicon {
    margin-right:2px;
}

/* clean up badges */
.label-as-badge {
    border-radius: 1em;
}

/* clean up breadcrumbs */

/*customize breadcrumb*/
.breadcrumb {
     /*background-color: #FAFAFA;*/
     background-color: #FFF;
     border-radius: 0;
     -moz-border-radius: 0;
     -webkit-border-radius: 0;
     -o-border-radius: 0;
     border: 0px solid rgba(255, 250, 250, 1); 
}

/*change breadcrumb links color*/
.breadcrumb a {
     color: #666;
}

.breadcrumb a:hover {
     /*text-decoration: none;*/
}

/*change active color*/
.breadcrumb > .active {
     color: #9CD05F;
}

.breadcrumb li {
    font-size: 14px;
    font-weight:500;
}

/*change breadcrumb separator to raquo symbol*/
.breadcrumb > li + li:before {
     content: "\00BB";
     /*content: "\232A\00a0";*/
     color: #aaa;
}
/*end breadcrumb cleanup*/

/* smaller inputs*/
  .input-xs {
    height: 22px;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5; //If Placeholder of the input is moved up, rem/modify this.
    border-radius: 3px;
}
