<!DOCTYPE html>
<html lang="en" ng-app="Manatee">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Offline Sync</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/icons.css">
    <!--experimental widget stuff-->
    <link rel="stylesheet"  href="css/widgets.css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- Angular-xeditable -->
    <link rel="stylesheet" href="css/xeditable.css">

  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"  ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">Manatee</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse" collapse="navCollapsed">
          <ul class="nav navbar-nav" active-link>
            <li class="active"><a href="#/landing">Home</a></li>
            <li><a href="#/list">List</a></li>
            <li><a href="#/sync">Sync</a></li>
            <li><a href="#/test">Testing</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid" ng-view></div>

      <div ng-controller="AlertCtrl as AC">
          <script type="text/ng-template" id="alert.html">
              <div class="alert topAlert" role="alert">
                  <div ng-transclude></div>
              </div>
          </script>
          <uib-alert ng-repeat="alert in AC.alerts" 
                     template-url="alert.html"
                     type="{{alert.type}}" 
                     dismiss-on-timeout="1500" 
                     close="AC.closeAlert($index)">{{alert.msg}}</uib-alert>
      </div>
    <!-- Various libraries -->
    <script src="js/libraries/angular.min.js"></script>  
    <script src="js/libraries/angular-route.min.js"></script>
    <script src="js/libraries/angular-animate.min.js"></script>
    <script src="js/libraries/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="js/libraries/underscore-min.js"></script>
    <script src="js/libraries/moment.min.js"></script>
    <script src="js/libraries/pouchdb/pouchdb.min.js"></script>
    <script src="js/libraries/pouchdb/pouchdb.find.min.js"></script>
    <script src="js/libraries/pouchdb/pouchdb.transform-pouch.min.js"></script>
    <script src="js/libraries/angular-ckeditor.min.js"></script>
    <script src="js/libraries/xeditable.min.js"></script>
    <script src="js/libraries/ng-flow-standalone.min.js"></script>
    <script src="js/libraries/crypto/aes.js"></script>
    <script src="js/libraries/crypto/mdo-angular-cryptography.js"></script>
    <script src="js/libraries/crypto/sha256.js"></script>
      <!--not sure this one is needed, review - I thought it might be required for binary encryption to work directly -->
    <script src="js/libraries/crypto/lib-typedarrays-min.js"></script>


    <!-- ckeditor gets its own section :) -->
    <script src="js/ckeditor/ckeditor.js"></script>
    <!--experimental chart stuff-->
    <script src="js/libraries/Chart.min.js"></script>
    <script src="js/libraries/Chart.HorizontalBar.js"></script>

    <!-- application files, this can be bundled later -->
    <!--Directives and their controllers -->
    <script src="js/directives/activelink.js"></script>
    <script src="js/directives/detailElement.js"></script>
    <script src="js/directives/detailElementCtrl.js"></script>
    
    <!--services-->
    <script src="js/services/database.js"></script>
    <script src="js/services/sync.js"></script>
    <script src="js/services/notify.js"></script>

    <!--Controllers-->
    <script src="js/controllers/LandingCtrl.js"></script>
    <script src="js/controllers/ObjectFormCtrl.js"></script>
    <script src="js/controllers/ObjectListCtrl.js"></script>
    <script src="js/controllers/SyncCtrl.js"></script>
    <script src="js/controllers/AlertCtrl.js"></script>
    <script src="js/controllers/EditorModalCtrl.js"></script>
    <script src="js/controllers/CkeditorCtrl.js"></script>
      
    <!-- main module -->
    <script src="main.js"></script>
      
  </body>
</html>
<!-- 
    //fixup navbar
    http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula
    https://github.com/angular-ui/bootstrap/issues/3676

    todo:
    X workflow icons in dropdown/current value
    fix over-saving - something seems to be making the seq number go nuts..review, not sure this is true
    fixup navbar
    fixup charts (nodata option, fix exceptions, put in directive?)
    sync
    figure out why reload on list is throwing exception
    X encrypt binaries - basic level 
    encrypt all fields - demo level 

    X encryption to database 
    X download font awesome and chart.js
    X clean up grid a little
    X fix add proc
    X incorporate progress bars and todos? possibly on landing -- cool donut graph thing
    X procedure, issue, wp icons on grid
    X list of controls, drill down to list of procs
    X form controls by type (indexed/denoted by strings "multiselect", "single select", "html", "bool or boolradio etc")
    X html editor (click on linked "field" to show fullscreen editor)
    X store word doc
    X add issues

    if extra time - hyperlink via search
-->
